@{
    ViewBag.Title = "Details";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1> User Registration details<h1>
   <table>
       <tr>
           <td> User Name</td><td>Manjusha </td>
           </tr>

   </table>
