@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Enable A DevOps Culture</h1>
    <p class="lead">Embrace “move fast without breaking things” across your org</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>DevOps and CI/CD</h2>
        <p>
            Your customers want more—and better—features. An automated software development pipeline will help you deliver them faster, but DevOps is key to building smarter. True DevOps is nothing less than full-scale culture transformation, uniting and empowering your development and infrastructure teams to deploy code at high speed. It shifts testing, provisioning, and risk and compliance earlier in the development cycle, optimizing security and performance from the start.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Continuous Testing</h2>
        <p>The digital economy is reinventing itself every hour, demanding next-gen strategy and operations: automation, DevOps, Agile. When your business counts on you to ensure software works during crunch time, you need to deliver and delight at optimum velocity..</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Continuous Delivery</h2>
        <p>Increase your speed to market and deliver higher quality solutions. Continuous delivery allows for more predictable development, software delivery, and adaptability to new technologies.  This practice helps teams obtain accurate analytics to pin point focus areas that will deliver the most value to customers as soon as it is ready..</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>